<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<table class="table table-hover" border="1">

    <tr>
        <th>Date</th>
        <th>Full Name</th>
        <th>Account Number</th>
        <th>Balance</th>

    </tr>
    <div th:each="test : ${values}">

        <tr>
            <td th:text = "${#dates.format(test.date, 'MMM-dd-yyyy')}"></td>
            <td th:text = "${test.fullName}"></td>
            <td><p th:text = "${test.accountNo}"></p></td>
            <td th:text = "${test.balance}"></td>


        </tr>
    </div>
</table>
<br/><br/>
<a href = "deposit">SaveToday</a>
<br/><br/>
<a href="withdrawal">Withdraw</a>
</body>
</html>